<section class="py-8 text-center content-start justify-center flex">

    <div class="max-w-sm rounded overflow-hidden shadow-lg  mx-8">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">About this website</div>
            <p class="text-gray-700 text-base">
            This web app is made to learn how to use Ruby on Rails. If you are interested in codebase, please check out my repository below!
            </p>
        </div>
        <div class="px-6 py-4">
        <%= link_to("Github", "https://github.com/masumomo/civid-19-in-japan",
            {class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"})
        %>
        </div>
    </div>
</section>
