<section class="py-8 text-center">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="/img/profile.png" alt="Miki Masumoto">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Aboutt</div>
        <p class="text-gray-700 text-base">
        This web app is made to learn how to use Ruby on Rails. If you are interested in codebase, please check out my repository below!
        </p>
    </div>
    <div class="px-6 py-4">
    <%= link_to("Github", "#",
        {class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"})
    %>
    </div>
    </div>



</section>
