
<% @totals.each do |total| %>
    <p>
    <strong>Pcr:</strong>
    <%= total.pcr %>
    </p>
    
    <p>
    <strong>Death:</strong>
    <%= total.death %>
    </p>

    <p>
    <strong>Date:</strong>
    <%= total.date %>
    </p>
    
<% end %>
