<section class="py-8 text-center">

  <% if user_signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h3 class="text-5xl mb-2">TODO: Dashboard for logined users</h3>

  <% else %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h3 class="text-5xl mb-2">TODO: Dashboard for users</h3>
  <% end %>
</section>
